<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #4488bd;">
	<br />
	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="#"
		style="margin-top: 10%; margin-bottom: 10%;">
		<div class="sidebar-brand-icon">
		<img src="/img/logosindicato.png" width="200" />
		</div>
	</a>
	<!-- Divider -->
	<hr class="sidebar-divider my-0">
	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">
		MENU
	</div>

	<li class="nav-item">
		<a class="nav-link" href="/app/associado/list">
			<i class="fas fa-user"></i>
			<span>Associados</span>
		</a>
	</li>

	<!-- Nav Item - Tables -->
	<!-- <li class="nav-item">
			<a class="nav-link" href="/app/cursoinstituicao/list">
				<i class="fas fa-map-signs fa-2x"></i>
				<span>Curso Instituição</span>
			</a>
	</li>
-->

	<!-- Nav Item - Pages Collapse Menu 
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
			aria-controls="collapseTwo">
			<i class="fas fa-layer-group fa-2x"></i>
			<span>Acadêmico</span>
		</a>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Itens:</h6>
				<a class="collapse-item" href="/app/categoria/list">Área</a>
				<a class="collapse-item" href="/app/curso/list">Cursos</a>
			</div>
		</div>
	</li>-->
	<!--
	<li class="nav-item">
		<a class="nav-link" href="/app/usuario/list">
			<i class="fas fa-user-plus fa-2x"></i>
			<span>Usuários</span>
		</a>
	</li>
-->
	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>
<!-- End of Sidebar -->
